<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WatsMyMajor - Course Selection</title>
  <link rel="icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
  <h1 id="title">WatsMyMajor</h1>
  <form class="search-form">
    <input type="text" class="search" placeholder="Course or Subject">
    <ul class="suggestions">
      <li>Filter for a course</li>
      <li>or a subject</li>
    </ul>
  </form>
  <p id="credit"><small>Created by Raphael Koh for the University of Waterloo</small></p>

  <script>
    const filepath = "./course_list.json";
    var courses = [];

    function loadJSON(callback) {
      var xfile = new XMLHttpRequest();
      xfile.overrideMimeType("application/json");  //forces string to be parsed as text
      xfile.open('GET', filepath, true);
      // this is called once file is ready
      xfile.onreadystatechange = function () {
        if (xfile.readyState == 4 && xfile.status == "200") {
          // .open will NOT return a value but simply returns undefined in async mode so use a callback
          callback(xfile.responseText);
        }
      }
      xfile.send(null);
    }

    loadJSON(response => courses = JSON.parse(response));

    function findMatches(word){
      return courses.filter(course => {
        const regex = new RegExp(word, 'gi');
        const course_title = course.subject + " " + course.catalog_number;
        const course_title_no_space = course.subject + course.catalog_number;
        return course_title.match(regex) || course_title_no_space.match(regex);
      })
    }

    // Updates list to display query
    function displayMatches(e){
      if (e.key == "Escape" || this.value == "") {
        if (e.key == "Escape") searchInput.value = "";
        suggestions.classList.remove("active");
        suggestions.innerHTML = `
          <li>Filter for a course</li>
          <li>or a subject</li>
          `;
        return;
      }
      // Slicing to only display first 5 values --> faster load time
      const matchArray = findMatches(this.value).sort((a,b) => {
        const a_string = a.subject + a.catalog_number;
        const b_string = b.subject + b.catalog_number;
        return a_string.localeCompare(b_string);
      }).slice(0,5);

      const html = matchArray.map(course => {
        // inserts white space between numbers and letters
        const re_space = /[^0-9\s](?=[0-9])/g;
        const user_query = this.value.replace(re_space, '$& ');
        // match query to portion of search result
        const regex = new RegExp(user_query, 'gi');
        const subject = course.subject;
        const catalog_number = course.catalog_number;
        var course_title = subject + " " + catalog_number;
        course_title = course_title.replace(regex, `<span class="hl">${user_query.toUpperCase()}</span>`);
        return `<li data-subject=${subject} data-number=${catalog_number}><span class="name">${course_title}</span></li>`
      });
      if(html.length == 0) {
        suggestions.classList.remove("active");
        suggestions.innerHTML = ``;
        return;
      }
      suggestions.classList.add("active");
      suggestions.innerHTML = html.join('');
      updateListItems();
    }

    // User presses Enter
    function submitSearch(e) {
      e.preventDefault();
      const result = suggestions.querySelector('li');
      // if no search results
      if (!result) return;
      const [subject, number] = result.textContent.split(' ');
      const url_redirect = `wat/${subject}/${number}`;
      window.location.href = url_redirect;
    }

    // Select Course from dropdown list
    function selectMatch (e) {
      if(!suggestions.classList.contains("active")) return;
      var subject, number;
      // If user clicks on span element instead of list
      if(e.target.tagName == "SPAN") {
        subject = e.target.parentElement.parentElement.dataset.subject;
        number = e.target.parentElement.parentElement.dataset.number;
      }
      else{
        subject = e.target.dataset.subject;
        number = e.target.dataset.number;
      }

      if(!subject || !number) return;
      const url_redirect = `wat/${subject}/${number}`;
      window.location.href = url_redirect;
    }

    // Attach event listener for onclick events
    function updateListItems () {
      listItem = suggestions.querySelectorAll('li');
      listItem.forEach(item => item.addEventListener('click', selectMatch));
    }


    const searchInput = document.querySelector('.search');
    const suggestions = document.querySelector('.suggestions');
    const search = document.querySelector('.search-form');
    var listItem = suggestions.querySelectorAll('li');

    searchInput.addEventListener('keyup', displayMatches);
    search.addEventListener('submit', submitSearch);
    updateListItems();
  </script>
</body>
</html>
