<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <meta charset="UTF-8">
  <title>Prerequisites</title>
  <link rel="icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
  <style>
    #container {
      width: 100%;
      height: 100%;
      position: relative;
    }

    #tree {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    #desc {
      width: 130px;
      height: auto;
      margin-right: 0;
      border: 3px lightsteelblue;
      border-style: inset;
      background-color: rgba(193, 193, 193, 0.3);
      transition: all 0.3s ease-in-out;
      z-index: 10;
    }

    #legend {
      margin-left: auto;
      width: 20%;
      height: auto;
      z-index: 10;
    }

    .node {
      cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 0.08em;
    }

    .node text {
      font: 1.6vw sans-serif;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 0.08em;
    }

    .circle {
    	border-radius: 50%;
    	width: 1em;
    	height: 1em;
    }

    table {
      padding-right: 1em;
      border-spacing: 0.4em;
      white-space: nowrap;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a id="back" href="#">Back to Course</a>
  </nav>
  <h1></h1>
  <div id="container">
    <div id="tree"></div>
    <div id="info" style="display: flex">
      <div id="desc">
        <table>
          <tr>
            <td><b>Course:</b></td>
            <td id="course"></td>
          </tr>
        </table>
      </div>
      <div id="legend">
        <table>
          <tr>
            <td valign="top">
              <div class="circle" style="background: #31c66f;
              border: 0.08em solid #09962c;"></div>
            </td>
            <td>
              <p>Choose 1</p>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <div class="circle" style="background: #34b1ff; border: 0.08em solid #0048ff;"></div>
            </td>
            <td>
              <p>Take All</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
var screen_width = document.documentElement.clientWidth;
var screen_height = document.documentElement.clientHeight;

var margin = {
      top: 0.019 * screen_height,
      right: 0.0586 * screen_width,
      bottom: 0.0358 * screen_height,
      left: 0.1172 * screen_width
    },
    width = screen_width,
    height = screen_height - margin.top - margin.bottom;

var i = 0,
    duration = 750,
    treeData = {{{ data }}}, // triple handlebars to disable HTML encoding
    root,
    tree,
    svg;

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

window.onresize = resize;

function resize() {
  screen_width = document.documentElement.clientWidth;
  screen_height = document.documentElement.clientHeight;
  width = screen_width;
  height = screen_height - margin.top - margin.bottom;
  const h1 = document.querySelector('h1');
  const rect = h1.getBoundingClientRect();
  height -= rect.bottom;
  margin = {
        top: 0.019 * screen_height,
        right: 0.0586 * screen_width,
        bottom: 0.0358 * screen_height,
        left: 0.1172 * screen_width
      };

  // update line
  line_dist = (width - margin.left - margin.right) / (treeData._root.maxdepth + 1);
  // Update root pos of Tree
  d3.select("g").attr("transform", "translate(" + margin.left + ", " + margin.top + ")");
  // update nodes
  update(root);
}

window.onload = function() {
  const h1 = document.querySelector('h1');
  const title = document.querySelector('title');
  const link = document.querySelector('#back');
  const subject = treeData._root.data.subject;
  const catalog_number = treeData._root.data.catalog_number;
  title.textContent = subject + " " + catalog_number + " - Prerequisites";
  h1.textContent = subject + " " + catalog_number + " - Prerequisites Tree";
  link.href = `/wat/${subject}/${catalog_number}`;
  const rect = h1.getBoundingClientRect();
  height -= rect.bottom;

  // set tree dimensions
  tree = d3.layout.tree()
      .size([height, width]);
  // set svg dimension
  svg = d3.select("#tree").append("svg")
      .attr("width", "100%")
      .attr("height", height)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  root = treeData._root;
  root.x0 = height / 2;
  root.y0 = 0;
  line_dist = (width - margin.left - margin.right) / (root.maxdepth + 1);

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
};

d3.select(self.frameElement).style("height", height);

function update(source) {
  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * line_dist;  });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click)
      .on("mouseover", nodeHover);

  // add child circle
  nodeEnter.append("circle").attr("r", 1e-6);

  // style text
  nodeEnter.append("text")
      .attr("x", function(d) {
        if (!d.parent) return "-1.3em";  // root node
        else if (hasChildren(d)) return 0;
        return "1.3em";  // leaf node
      })
      .attr("dy", function(d) { return hasChildren(d) && d.parent ? "1.85em" : "0.35em"; })
      .attr("text-anchor", function(d) {
        if (!d.parent) return "end";  // root node
        else if (hasChildren(d)) return "middle";
        return "start";  // leaf node
      })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  // Change colour of node
  nodeUpdate.select("circle")
      .attr("r", "0.5em")
      .style("fill", function(d) {
        const choose = d.data.choose;
        if (!d._children || d._children.length == 0) return "lightsteelblue";
        if (choose === null) return "#fff";  // course
        else if (choose === 0) return "#34b1ff";  // take all
        else return "#31c66f";  // choose 1
      })
      .style("stroke", function(d) {
        const choose = d.data.choose;
        if (choose === null) return "steelblue";  // course
        else if (choose === 0) return "#0048ff";  // take all
        else return "#09962c";  // choose 1
      });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// return true if node has children
const hasChildren = d => {
  return !(!d.children && (!d._children || !d._children.length));
};

// Toggle children on click.
function click(d) {
  // has active children
  if (!hasChildren(d)) return;
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}

// handle mouseovers
function nodeHover(d) {
  if (!d.name) return;
  const desc = document.querySelector('#desc')
  const course = document.querySelector('#course');
  const tab = desc.querySelector('table');
  course.innerHTML = d.name;
  desc.style.width = `${tab.offsetWidth}px`;
}
</script>
